// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #101010;
$drakgray:#464646;
$lightcream: #F5F5F5;
$light-gray: #E5E5E5;
$dark-green: #007a02;
$step-color: #848484;
$white: #fff;
$place-color: #828282;
$red: #E51323;
$bg-opacity: rgba(0, 0, 0 ,0.8);

// gradient
$bg-gradient: linear-gradient(90deg, #AC519C 0.74%, #E5424F 100%);
$bg-hover:  linear-gradient(90deg, #B678AA 1.29%, #E28990 100%);


//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

//for media screen
$x-small-device: 767px;
$small-device: 768px;
$medium-device: 1024px;

// Width
$full-size: 100%;


//font family

$lato: 'Lato', sans-serif;
$gutter: 0px;