@import 'variables';

body {
  font-family: $lato;
  font-size: 16px;
  color: $black;
  margin: $gutter;
  padding: $gutter;
}

* {
  outline: none;
}

::placeholder {
  font-weight: $light;
  font-size: 18px;
  line-height: 22px;
  color: $place-color;
  font-family: $lato;
}

.p--0 {
  padding: $gutter;
}

.m--0 {
  margin:$gutter;
}

.blog--wrapper {
  padding-top: 55px;
}

.custom--container {
	max-width: 930px;
	margin: $gutter auto;
}

.flex--box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog--content {
	max-width: 560px;
	.blog--title{
		font-size: 26px;
		color: $black;
    font-weight: $bold;
    margin-bottom: 16px;
  }
  
	.divider {
		height: 1px;
		background: $bg-gradient;
  }

  .blog--data {
    margin-top: 12px;
    p {
      font-style: normal;
      font-weight: $light;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      margin:16px $gutter;
    }

    .blog--img {
      margin: 30px $gutter;
      img {
        width: $full-size;
      }
    }

    artical {
      p {
        font-size: 14px;
        padding: 13px $gutter;
        }

      h3 {
        font-style: normal;
        font-weight: $bold;
        font-size: 18px;
        line-height: 22px;
      }      
    }
  }  
}

.right--side--bar {
  width: 222px;
  background: $lightcream;
  padding: 50px 24px $gutter 24px;
  height: 640px;
}

.btn {
  font-style: normal;
  font-weight: $bold;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-family: $lato;;
}

.btn--send {
  background: $bg-gradient;
  color: $white;
  &:hover	{
    background: $bg-hover;
  }	
}

.btn--block {
  display: block;
  width: $full-size;
  h3 {
      margin: 16px $gutter;
    }
}

.modal--backdrop {
  background-color: $bg-opacity;
  position: fixed;
  width: $full-size;
  top: $gutter;
  height: $full-size;
  left: $gutter;
  right: $gutter;

  .modal {
    background: $white;
    max-width: 540px;
    margin: $gutter auto;
    margin-top: 6%;

    .modal--header {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      position: relative;
      padding: 15px $gutter $gutter ;
      color: $step-color;
      font-weight: $light;

      .btn--close {
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: $bold;
        background: transparent;
        background: transparent;
        position: absolute;
        right: 9px;
        top: 15px;
      }
    }

    h1 {
      font-size: 23px;
      text-align: center;
      span {
        color: $dark-green;
    }
   }
  }
}

.modal--body {
  padding: 20px 65px;

  .progress--bar {
    width: $full-size;
    height: 3px;
    background: $light-gray;
  
    .progress {
      background: $bg-gradient;
      height: 2px;
    }
  }
  .input--box {
    margin-bottom: 22px;
    height: 54px;
    position: relative;
    border: 1px solid $light-gray;

    .text--label {
      display: block;
      padding: $gutter $gutter $gutter 17px;
      font-family: $lato;
      font-weight: $light;
      font-size: 18px;
      position: absolute;
      top: 15px;
      transform-origin: top right;
      transition: .3s;
      line-height: 19px;
      z-index: 1;
      pointer-events: none;
    }

  .active--label {
    transform: translateY(11px) scale(1.1);
    font-size: 12px;
    padding-left: 25px;
    top: -2px;
  }

    .input--field {
      background: $white;
      height: 23px;
      width: 96%;
      border: $gutter;
      padding: 27px $gutter $gutter 15px;
      font-family: $lato;
      font-weight: $light;
      font-size: 16px;
    }

      &:focus {
        box-shadow: none;
        border: 1px solid $light-gray;
      }
    }  
  } 

  .error {
    color: $red;
    border:1px solid $red;

    .text--label {
      color: $red;
    }
    .input--field {
      color: $red;
    }  

  }

@media only screen and (max-width: $x-small-device) {
  .blog--wrapper {
    padding-top: 15px;
  }

  .flex--box {
    padding: 15px;
  }

  .blog--content {
    width: $full-size;    
    .blog--data {
      margin-top: 24px;
      
      .blog--img {
        margin: 30px -14px;
      }
    }
    .blog--title {
      margin-bottom: 22px;
    }
  }

  article {
    h3 {
      margin: 16px $gutter;
    }  
  }

  .right--side--bar {
    width: $full-size;
    height: 340px;
    margin-top: 33px;
  }

  .modal {
    width: 95%;
  }

  .modal--body {
    padding: 20px 10px;
  }
}

@media only screen and (min-width: $small-device) and ( max-width: $medium-device) {
  .blog--content {
    max-width: 60%;
  }

  .blog--wrapper {
    padding-top: 10px;
  }

  .flex--box {
    padding: 25px;
  }
}
